.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.mt-10 {
  margin-top: 2.5rem
}

.block {
  display: block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-full {
  height: 100%
}

.h-64 {
  height: 16rem
}

.w-full {
  width: 100%
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.rounded-full {
  border-radius: 9999px
}

.border {
  border-width: 1px
}

.bg-\[\#59c1cc\] {
  --tw-bg-opacity: 1;
  background-color: rgb(89 193 204 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem
}

.pt-2 {
  padding-top: 0.5rem
}

.pl-2 {
  padding-left: 0.5rem
}

.pb-0 {
  padding-bottom: 0px
}

.pt-5 {
  padding-top: 1.25rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.font-bold {
  font-weight: 700
}

.font-extrabold {
  font-weight: 800
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}

.text-blue-800 {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity))
}

.text-red-800 {
  --tw-text-opacity: 1;
  color: rgb(153 27 27 / var(--tw-text-opacity))
}
